<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nothing but Notes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <title>Noteworthy</title>
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body class="container">
    <h1>Noteworthy</h1>
    <ul>
    <% todos.forEach( el => { %>
        <% if(!el.completed){ %>
            <li class='todoItem' data-id='<%=el._id%>'> <br>
                <span><%= todos.indexOf(el) + 1%>.</span>
                <span  class='<%= el.completed === true ? 'completed' : 'not' %>'><%- el.todo %></span><br>
                <button type="button" class='del'> Delete </button>
                
                <span class='dueDate'> Due Date: <%= el.dueDate.toString().split(' ').slice(0, 3).join(' ') %> </span>
                
            </li>
        <% } else{ %>

        <% } %>

    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> things left to do.</h2>

    <form action="/todos/createTodo" method='POST'>
        <textarea type="text" placeholder="Enter Todo Item" name='todoItem' id="body"></textarea>
        <input type="date" placeholder=" " name='todoDate' required>
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <h1>Completed</h1>
        <ul>
            <% todos.forEach( el => { %>
                <% if(el.completed){ %>
                    <li class='todoItem' data-id='<%=el._id%>'> <br>
                        <span class='<%= el.completed === true ? 'completed' : 'not' %>'><%- el.todo %></span>
                        <button type="button" class='del'> Delete </button>
                    </li>
                <% } else{ %>
                    
                <% } %>
            <% }) %> 
        </ul>

      

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.14.1/ckeditor.js" integrity="sha256-bEIQpI72w9NJuIVhTLFUF2/8uxl0u5800r8ddViuv+o=" crossorigin="anonymous"></script></script>
        <script src="js/main.js"></script>
    
        <script>
        CKEDITOR.replace('body', { plugins: 'wysiwygarea, toolbar, basicstyles, link, list' })
    </script>
</body>
</html>