<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteWorthy</title>
    <link rel="shortcut icon" href="img/Favicon.png" type="image/x-icon">
    <!-- Global Design -->
    <link rel="stylesheet" href="css/global.css">
    <!-- Home Design -->
    <link rel="stylesheet" href="css/home.css">
    <!-- Login Design -->
    <link rel="stylesheet" href="css/todo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <style>
        #bg {
            width: 100%;
            height: 100vh;
            background: linear-gradient(to top right, #3F136F, #0B45AE, #8FDFE2);
            position: fixed;
            top: 0;
            right: 0;
            z-index: -1;
        }
    </style>
</head>

<body class="container paddingSize">

    <nav id="navbar" class="paddingSize">
        <ul style="justify-content: space-between;">
            <li><a href="/" class="after">Home</a></li>
            <li><a href="/logout" id="active">Logout</a></li>
        </ul>
    </nav>

    <div id="bg"></div>
    <h1>Noteworthy</h1>
    
    <ul>
        <% todos.forEach( el => { %>
            <% if(!el.completed){ %>
                <li class='todoItem' data-id='<%=el._id%>'> <br>
                    <span><%= todos.indexOf(el) + 1%>.</span>
                    <span  class='<%= el.completed === true ? 'completed' : 'not' %>'><%- el.todo %></span><br>
                    <button type="button" class='del'> Delete </button>
                    
                    <span class='dueDate'> Due Date: <%= el.dueDate.toString().split(' ').slice(0, 3).join(' ') %> </span>
                    
                </li>
            <% } else{ %>
            <% } %>
        <% }) %>    
    </ul>
    
    <h2><%= user.userName %> has <%= left %> things left to do.</h2>

    <form action="/todos/createTodo" method='POST'>
        <textarea type="text" placeholder="Enter Todo Item" name='todoItem' id="body"></textarea>
        <div id="dateTime">
            <input type="date" placeholder=" " name='todoDate' required>
            <input type="submit" id="active">
        </div>
    </form>

    <!-- <a href="/logout">Logout</a> -->

    <% if (left != 0 || right != 0) { %>
        <div class="todoList">
            <div>
                <h2>To-Do</h2>
                <ul>
                    <% todos.forEach( el => { %>
                        <% if(!el.completed){ %>
                            <li>
                                <div class="items">
                                    <div class="itemName">
                                        <span><%= todos.indexOf(el) + 1%>.</span>
                                        <span  class='<%= el.completed === true ? 'completed' : 'not' %>'><%- el.todo %></span>
                                    </div>
                                    <div class='todoItem itemClick' data-id='<%=el._id%>'>
                                    <span class='<%= el.completed === true ? ' completed' : 'not' %>'>    <svg class="<%= el.completed === true ? 'completed' : 'not' %>'><%- el.todo %>" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_151_88)"> <path d="M24.5 1.75C24.9641 1.75 25.4092 1.93437 25.7374 2.26256C26.0656 2.59075 26.25 3.03587 26.25 3.5V24.5C26.25 24.9641 26.0656 25.4092 25.7374 25.7374C25.4092 26.0656 24.9641 26.25 24.5 26.25H3.5C3.03587 26.25 2.59075 26.0656 2.26256 25.7374C1.93437 25.4092 1.75 24.9641 1.75 24.5V3.5C1.75 3.03587 1.93437 2.59075 2.26256 2.26256C2.59075 1.93437 3.03587 1.75 3.5 1.75H24.5ZM3.5 0C2.57174 0 1.6815 0.368749 1.02513 1.02513C0.368749 1.6815 0 2.57174 0 3.5L0 24.5C0 25.4283 0.368749 26.3185 1.02513 26.9749C1.6815 27.6313 2.57174 28 3.5 28H24.5C25.4283 28 26.3185 27.6313 26.9749 26.9749C27.6313 26.3185 28 25.4283 28 24.5V3.5C28 2.57174 27.6313 1.6815 26.9749 1.02513C26.3185 0.368749 25.4283 0 24.5 0L3.5 0Z" fill="#14FF00"/> <path d="M19.1977 8.6975C19.4426 8.45473 19.7732 8.3181 20.118 8.31714C20.4629 8.31619 20.7943 8.451 21.0405 8.69242C21.2867 8.93384 21.4281 9.26247 21.434 9.60727C21.4398 9.95207 21.3098 10.2853 21.0719 10.535L14.0859 19.2675C13.9658 19.3968 13.8209 19.5006 13.6598 19.5726C13.4987 19.6447 13.3248 19.6835 13.1483 19.6868C12.9719 19.69 12.7966 19.6577 12.633 19.5917C12.4693 19.5256 12.3207 19.4273 12.1959 19.3025L7.56715 14.672C7.4382 14.5518 7.33477 14.4069 7.26304 14.2459C7.1913 14.0849 7.15273 13.9111 7.14962 13.7349C7.14651 13.5587 7.17893 13.3836 7.24494 13.2202C7.31095 13.0568 7.4092 12.9083 7.53384 12.7837C7.65847 12.6591 7.80693 12.5608 7.97036 12.4948C8.13379 12.4288 8.30884 12.3964 8.48507 12.3995C8.6613 12.4026 8.8351 12.4411 8.9961 12.5129C9.15709 12.5846 9.30199 12.688 9.42215 12.817L13.0867 16.4798L19.1644 8.736C19.1752 8.72244 19.1869 8.70958 19.1994 8.6975H19.1977Z" fill="#14FF00"/> </g> <defs> <clipPath id="clip0_151_88"> <rect width="28" height="28" fill="white"/> </clipPath> </defs> </svg>  
                                        </span>
                                        <svg class="del" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_151_91)"> <path d="M24.5 1.75C24.9641 1.75 25.4092 1.93437 25.7374 2.26256C26.0656 2.59075 26.25 3.03587 26.25 3.5V24.5C26.25 24.9641 26.0656 25.4092 25.7374 25.7374C25.4092 26.0656 24.9641 26.25 24.5 26.25H3.5C3.03587 26.25 2.59075 26.0656 2.26256 25.7374C1.93437 25.4092 1.75 24.9641 1.75 24.5V3.5C1.75 3.03587 1.93437 2.59075 2.26256 2.26256C2.59075 1.93437 3.03587 1.75 3.5 1.75H24.5ZM3.5 0C2.57174 0 1.6815 0.368749 1.02513 1.02513C0.368749 1.6815 0 2.57174 0 3.5L0 24.5C0 25.4283 0.368749 26.3185 1.02513 26.9749C1.6815 27.6313 2.57174 28 3.5 28H24.5C25.4283 28 26.3185 27.6313 26.9749 26.9749C27.6313 26.3185 28 25.4283 28 24.5V3.5C28 2.57174 27.6313 1.6815 26.9749 1.02513C26.3185 0.368749 25.4283 0 24.5 0L3.5 0Z" fill="white"/> <path d="M8.1306 8.1306C8.21188 8.04911 8.30844 7.98446 8.41474 7.94035C8.52104 7.89624 8.63501 7.87354 8.7501 7.87354C8.86519 7.87354 8.97915 7.89624 9.08546 7.94035C9.19176 7.98446 9.28832 8.04911 9.3696 8.1306L14.0001 12.7628L18.6306 8.1306C18.712 8.04924 18.8085 7.98471 18.9148 7.94068C19.0211 7.89665 19.135 7.87399 19.2501 7.87399C19.3652 7.87399 19.4791 7.89665 19.5854 7.94068C19.6917 7.98471 19.7882 8.04924 19.8696 8.1306C19.951 8.21195 20.0155 8.30853 20.0595 8.41483C20.1035 8.52112 20.1262 8.63505 20.1262 8.7501C20.1262 8.86515 20.1035 8.97908 20.0595 9.08537C20.0155 9.19166 19.951 9.28825 19.8696 9.3696L15.2373 14.0001L19.8696 18.6306C19.951 18.712 20.0155 18.8085 20.0595 18.9148C20.1035 19.0211 20.1262 19.135 20.1262 19.2501C20.1262 19.3652 20.1035 19.4791 20.0595 19.5854C20.0155 19.6917 19.951 19.7882 19.8696 19.8696C19.7882 19.951 19.6917 20.0155 19.5854 20.0595C19.4791 20.1035 19.3652 20.1262 19.2501 20.1262C19.135 20.1262 19.0211 20.1035 18.9148 20.0595C18.8085 20.0155 18.712 19.951 18.6306 19.8696L14.0001 15.2373L9.3696 19.8696C9.28825 19.951 9.19166 20.0155 9.08537 20.0595C8.97908 20.1035 8.86515 20.1262 8.7501 20.1262C8.63505 20.1262 8.52112 20.1035 8.41483 20.0595C8.30853 20.0155 8.21195 19.951 8.1306 19.8696C8.04924 19.7882 7.98471 19.6917 7.94068 19.5854C7.89665 19.4791 7.87399 19.3652 7.87399 19.2501C7.87399 19.135 7.89665 19.0211 7.94068 18.9148C7.98471 18.8085 8.04924 18.712 8.1306 18.6306L12.7628 14.0001L8.1306 9.3696C8.04911 9.28832 7.98446 9.19176 7.94035 9.08546C7.89624 8.97915 7.87354 8.86519 7.87354 8.7501C7.87354 8.63501 7.89624 8.52104 7.94035 8.41474C7.98446 8.30844 8.04911 8.21188 8.1306 8.1306Z" fill="white"/> </g> <defs> <clipPath id="clip0_151_91"> <rect width="28" height="28" fill="white"/> </clipPath> </defs> </svg>             
                                    </div>
                                </div>
                                
                                <p class='dueDate'> Due Date: <%= el.dueDate.toString().split(' ').slice(0, 3).join(' ') %> </p>
                                
                            </li>
                        <% } else{ %>
                
                        <% } %>
                
                    <% }) %>    
                </ul>
            </div>
        
            <div class="completedList">
                <h2>Completed</h2>
                <ul>
                    <% todos.forEach( el => { %>
                        <% if(el.completed){ %>
                            <li class='todoItem' data-id='<%=el._id%>'>
                                <span class='<%= el.completed === true ? 'completed' : 'not' %>'><%- el.todo %></span>
                                <svg class="del" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_151_91)"> <path d="M24.5 1.75C24.9641 1.75 25.4092 1.93437 25.7374 2.26256C26.0656 2.59075 26.25 3.03587 26.25 3.5V24.5C26.25 24.9641 26.0656 25.4092 25.7374 25.7374C25.4092 26.0656 24.9641 26.25 24.5 26.25H3.5C3.03587 26.25 2.59075 26.0656 2.26256 25.7374C1.93437 25.4092 1.75 24.9641 1.75 24.5V3.5C1.75 3.03587 1.93437 2.59075 2.26256 2.26256C2.59075 1.93437 3.03587 1.75 3.5 1.75H24.5ZM3.5 0C2.57174 0 1.6815 0.368749 1.02513 1.02513C0.368749 1.6815 0 2.57174 0 3.5L0 24.5C0 25.4283 0.368749 26.3185 1.02513 26.9749C1.6815 27.6313 2.57174 28 3.5 28H24.5C25.4283 28 26.3185 27.6313 26.9749 26.9749C27.6313 26.3185 28 25.4283 28 24.5V3.5C28 2.57174 27.6313 1.6815 26.9749 1.02513C26.3185 0.368749 25.4283 0 24.5 0L3.5 0Z" fill="white"/> <path d="M8.1306 8.1306C8.21188 8.04911 8.30844 7.98446 8.41474 7.94035C8.52104 7.89624 8.63501 7.87354 8.7501 7.87354C8.86519 7.87354 8.97915 7.89624 9.08546 7.94035C9.19176 7.98446 9.28832 8.04911 9.3696 8.1306L14.0001 12.7628L18.6306 8.1306C18.712 8.04924 18.8085 7.98471 18.9148 7.94068C19.0211 7.89665 19.135 7.87399 19.2501 7.87399C19.3652 7.87399 19.4791 7.89665 19.5854 7.94068C19.6917 7.98471 19.7882 8.04924 19.8696 8.1306C19.951 8.21195 20.0155 8.30853 20.0595 8.41483C20.1035 8.52112 20.1262 8.63505 20.1262 8.7501C20.1262 8.86515 20.1035 8.97908 20.0595 9.08537C20.0155 9.19166 19.951 9.28825 19.8696 9.3696L15.2373 14.0001L19.8696 18.6306C19.951 18.712 20.0155 18.8085 20.0595 18.9148C20.1035 19.0211 20.1262 19.135 20.1262 19.2501C20.1262 19.3652 20.1035 19.4791 20.0595 19.5854C20.0155 19.6917 19.951 19.7882 19.8696 19.8696C19.7882 19.951 19.6917 20.0155 19.5854 20.0595C19.4791 20.1035 19.3652 20.1262 19.2501 20.1262C19.135 20.1262 19.0211 20.1035 18.9148 20.0595C18.8085 20.0155 18.712 19.951 18.6306 19.8696L14.0001 15.2373L9.3696 19.8696C9.28825 19.951 9.19166 20.0155 9.08537 20.0595C8.97908 20.1035 8.86515 20.1262 8.7501 20.1262C8.63505 20.1262 8.52112 20.1035 8.41483 20.0595C8.30853 20.0155 8.21195 19.951 8.1306 19.8696C8.04924 19.7882 7.98471 19.6917 7.94068 19.5854C7.89665 19.4791 7.87399 19.3652 7.87399 19.2501C7.87399 19.135 7.89665 19.0211 7.94068 18.9148C7.98471 18.8085 8.04924 18.712 8.1306 18.6306L12.7628 14.0001L8.1306 9.3696C8.04911 9.28832 7.98446 9.19176 7.94035 9.08546C7.89624 8.97915 7.87354 8.86519 7.87354 8.7501C7.87354 8.63501 7.89624 8.52104 7.94035 8.41474C7.98446 8.30844 8.04911 8.21188 8.1306 8.1306Z" fill="white"/> </g> <defs> <clipPath id="clip0_151_91"> <rect width="28" height="28" fill="white"/> </clipPath> </defs> </svg>             
                            </li>
                        <% } else{ %>
                            
                        <% } %>
                    <% }) %> 
                </ul>
            </div>
        </div>
    <% } else if (left == 0 || right == 0) {%>
        <div class="svgFile">
            <svg id="emptyTodo" viewBox="0 0 435 434" fill="none" xmlns="http://www.w3.org/2000/svg"> <g id="Group 44"> <g id="paper2"> <path id="Vector" d="M345.656 320.835L133.577 392.606C132.162 393.083 130.617 392.98 129.279 392.32C127.942 391.661 126.921 390.498 126.442 389.087L40.6004 135.428C40.1244 134.016 40.2288 132.472 40.8909 131.136C41.553 129.8 42.7187 128.779 44.1322 128.299L256.211 56.5289C257.626 56.052 259.172 56.1547 260.509 56.8144C261.847 57.474 262.867 58.6369 263.346 60.0477L349.188 313.707C349.664 315.119 349.559 316.662 348.897 317.998C348.235 319.335 347.07 320.355 345.656 320.835V320.835Z" fill="#E6E6E6"/> <path id="Vector_2" d="M154.403 77.0213L22.3239 121.719C19.4975 122.68 17.1668 124.72 15.8427 127.393C14.5186 130.065 14.3092 133.152 15.2605 135.976L101.695 391.388L102.821 390.582L16.5154 135.551C15.6755 133.059 15.86 130.336 17.0284 127.977C18.1968 125.619 20.2536 123.819 22.7478 122.971L155.216 78.1423L154.403 77.0213ZM269.541 38.0572L22.3239 121.719C19.4975 122.68 17.1668 124.72 15.8427 127.393C14.5186 130.065 14.3092 133.152 15.2605 135.976L112.336 422.83C113.295 425.651 115.336 427.976 118.011 429.295C120.686 430.615 123.776 430.82 126.606 429.867L373.822 346.206C376.649 345.245 378.979 343.204 380.303 340.532C381.628 337.859 381.837 334.773 380.886 331.949L283.811 45.0949C282.851 42.2736 280.81 39.9484 278.136 38.6292C275.461 37.3099 272.37 37.1042 269.541 38.0572V38.0572ZM379.631 332.373C380.471 334.865 380.286 337.589 379.118 339.947C377.949 342.305 375.892 344.106 373.398 344.953L126.182 428.615C123.685 429.456 120.958 429.275 118.598 428.111C116.237 426.947 114.436 424.895 113.591 422.405L16.5154 135.551C15.6755 133.059 15.86 130.336 17.0284 127.977C18.1968 125.619 20.2536 123.819 22.7478 122.971L269.964 39.3098C272.461 38.4685 275.188 38.6497 277.549 39.8138C279.909 40.9779 281.71 43.0298 282.556 45.5195L379.631 332.373Z" fill="#3F3D56"/> <path id="Vector_3" d="M212.984 87.9107L97.5329 126.981C96.0351 127.486 94.3986 127.377 92.9823 126.679C91.566 125.98 90.4857 124.749 89.9782 123.255L80.6522 95.6972C80.1482 94.2021 80.2588 92.5678 80.9599 91.1528C81.6609 89.7378 82.8951 88.6576 84.3917 88.1493L199.843 49.0789C201.341 48.574 202.977 48.6826 204.394 49.3811C205.81 50.0796 206.89 51.3109 207.398 52.8048L216.724 80.3628C217.228 81.8578 217.117 83.4921 216.416 84.9071C215.715 86.3222 214.481 87.4023 212.984 87.9107V87.9107Z" fill="#1839A0"/> <path id="Vector_4" d="M142.753 70.4932C149.684 68.1478 153.404 60.6382 151.063 53.7201C148.722 46.802 141.206 43.0951 134.275 45.4405C127.344 47.7859 123.624 55.2955 125.965 62.2136C128.306 69.1317 135.823 72.8386 142.753 70.4932Z" fill="#1839A0"/> <path id="Vector_5" d="M141.096 65.5966C145.318 64.168 147.584 59.594 146.158 55.3802C144.732 51.1664 140.154 48.9086 135.932 50.3371C131.711 51.7657 129.445 56.3398 130.871 60.5536C132.297 64.7673 136.875 67.0252 141.096 65.5966Z" fill="white"/> </g> <rect id="Rectangle 14" x="151" y="106" width="284" height="325" rx="11" fill="#1D3499"/> <g id="paper1"> <path id="Vector_6" d="M405.192 397.94H181.297C179.805 397.938 178.374 397.345 177.318 396.291C176.262 395.238 175.669 393.809 175.667 392.319V124.529C175.669 123.039 176.262 121.61 177.318 120.557C178.374 119.503 179.805 118.91 181.297 118.909H405.192C406.684 118.91 408.116 119.503 409.171 120.557C410.227 121.61 410.82 123.039 410.822 124.529V392.319C410.82 393.809 410.227 395.238 409.171 396.291C408.116 397.345 406.684 397.938 405.192 397.94V397.94Z" fill="#E6E6E6"/> <path id="Vector_7" d="M302.187 105.684H162.75C159.764 105.689 156.903 106.874 154.792 108.981C152.681 111.088 151.493 113.945 151.489 116.925V386.567L152.814 386.163V116.925C152.817 114.295 153.865 111.775 155.727 109.915C157.59 108.056 160.115 107.01 162.75 107.007H302.598L302.187 105.684ZM423.739 105.684H162.75C159.764 105.689 156.903 106.874 154.792 108.981C152.681 111.088 151.493 113.945 151.489 116.925V419.759C151.493 422.739 152.681 425.596 154.792 427.703C156.903 429.81 159.764 430.996 162.75 431H423.739C426.724 430.996 429.586 429.81 431.697 427.703C433.808 425.596 434.996 422.739 435 419.759V116.925C434.996 113.945 433.808 111.088 431.697 108.981C429.586 106.874 426.724 105.689 423.739 105.684V105.684ZM433.675 419.759C433.672 422.389 432.624 424.91 430.761 426.769C428.898 428.628 426.373 429.674 423.739 429.677H162.75C160.115 429.674 157.59 428.628 155.727 426.769C153.865 424.91 152.817 422.389 152.814 419.759V116.925C152.817 114.295 153.865 111.775 155.727 109.915C157.59 108.056 160.115 107.01 162.75 107.007H423.739C426.373 107.01 428.898 108.056 430.761 109.915C432.624 111.775 433.672 114.295 433.675 116.925V419.759Z" fill="#3F3D56"/> <path id="Vector_8" d="M354.186 134.778H232.303C230.722 134.776 229.207 134.148 228.089 133.033C226.972 131.917 226.343 130.405 226.341 128.827V99.7336C226.343 98.1559 226.972 96.6433 228.089 95.5277C229.207 94.412 230.722 93.7845 232.303 93.7827H354.186C355.767 93.7845 357.282 94.412 358.4 95.5277C359.517 96.6433 360.146 98.1559 360.148 99.7336V128.827C360.146 130.405 359.517 131.917 358.4 133.033C357.282 134.148 355.767 134.776 354.186 134.778V134.778Z" fill="#1839A0"/> <path id="Vector_9" d="M293.244 95.7663C300.561 95.7663 306.492 89.8456 306.492 82.5421C306.492 75.2386 300.561 69.3179 293.244 69.3179C285.928 69.3179 279.996 75.2386 279.996 82.5421C279.996 89.8456 285.928 95.7663 293.244 95.7663Z" fill="#1839A0"/> <path id="Vector_10" d="M293.244 90.5969C297.701 90.5969 301.314 86.9906 301.314 82.5421C301.314 78.0936 297.701 74.4873 293.244 74.4873C288.788 74.4873 285.175 78.0936 285.175 82.5421C285.175 86.9906 288.788 90.5969 293.244 90.5969Z" fill="white"/> </g> </g> </svg>
        </div>
    <% } %> 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.14.1/ckeditor.js" integrity="sha256-bEIQpI72w9NJuIVhTLFUF2/8uxl0u5800r8ddViuv+o=" crossorigin="anonymous"></script></script>
    <script src="js/main.js"></script>
    <script>
        const nav = document.querySelector('#navbar');
        window.addEventListener('scroll', e => {
            const scrollNav = window.scrollY;
            if (scrollNav >= 5) {
                nav.classList.add('navScroll')
            } else {
                nav.classList.remove('navScroll')
            }
        }) 
    </script>

    <script>
    CKEDITOR.replace('body', { plugins: 'wysiwygarea, toolbar, basicstyles, link, list' })
    </script>
</body>
</html>